
body{
   background-color: rgb(26, 26, 94);
   display: grid;
   place-items: center center;
   width: 100vw;
   height: 70vh
   }
   .container{
     background-color:white;
     width: 250px;
     padding: 2rem;
     height: 200px;
     border-radius: 15px;
   }
   p{
      font-size: 1.5rem;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   #text-input{
     padding: 5px;
     width: 70%
   }
   #check-btn{
     padding: 5px;
     background: purple;
     color: white;
     border:1px solid purple;
   }
   #check-btn:hover{
     background: rgb(171, 4, 171);
   }